#sign-up {
    color: #0069ff;
    border-color: #0069ff;
}

nav {
    height: 50px;
}

.navbar-default .navbar-nav > li > a {
    color: #031b4e;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #0069ff;
}

.btn-default:hover {
    background-color: #0069ff;
    border-color: #0069ff;
}

.btn-default:hover strong {
    color: white;
}

#logo-brand {
    height: 30px;
    width: 170px;
    object-fit: cover;
    margin-top: 9px;
}

#home {
    margin-top: 50px;
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    height: 800px;
}

#partners {
    background-color: #f3f5f9;
    height: 280px;
}

#partners-h2 {
    color: #939eb5;
    font-size: 18px;
    margin-top: 50px;
}

.home-text {
    color: white;
    margin-top: 265px;
}

#home-h1 {
    font-size: 62px;
}

#home-p {
    font-size: 24px;
    opacity: 0.8;
}

.partners-ul > li {
    float: left;
    list-style: none;
    max-width: 160px;
}

.partners-ul > li > img {
    max-height: 80px;
    padding-left: 60px;
    padding-top: 15px;
}

.home-signup {
    background-color: white;
    margin-top: 125px;
    margin-left: 80px;
    height: 540px;
    width: 480px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}

#signup-h2 {
    padding-top: 50px;
    font-size: 30px;
    color: #031b4e;
}
